body {
  background-color: lightgray;
  font-family: sans-serif;
  background-image: image("gvkg.jpg");
}

.about {
  background-color: darkgray;
  font-style: italic;
}

.background {
  background-color: lightskyblue;
}