body {
  background-image: url("bkimg.jpg");
  background-color: lightgray;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  
}

.about {
  background-color: darkgray;
  font-style: italic;
  margin: 12px;
  padding: 4px;
}

.background {
  margin: 12px;
  border: 2px darkblue;
  padding: 4px;
  background-color: lightskyblue;
  width: 40%;
  float: right;
}

img {
  float: left;
  margin: 12px;
}

.course {
  color: darkblue;
  font-weight: bold;
}

.dog-type {
  color: teal;
  font-weight: bold;
}