body {
  background-color: lightgray;
  font-family: sans-serif;
}

.about {
  background-color: darkgray;
  font-style: italic;
}

.background {
  margin: 12px;
  border: 2px darkblue;
  padding: 4px;
  background-color: lightskyblue;
  width: 40%;
  float: right;
}

img {
  float: left;
}

.course {
  color: darkblue;
  font-weight: bold;
}

.dog-type {
  color: teal;
  font-weight: bold;
}